<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091019658935-5ibc66uade3banu5s8iiseupjtjouji1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091019658935-5ibc66uade3banu5s8iiseupjtjouji1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1091019658935-8f82gnb0ilkeraepapn6olsti6c7k31b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3EhfYdeu6IdnSkUIrn2W9crrrz6GyZvY</string>
	<key>GCM_SENDER_ID</key>
	<string>1091019658935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shurup.CareerBoast</string>
	<key>PROJECT_ID</key>
	<string>careerboast-f47b2</string>
	<key>STORAGE_BUCKET</key>
	<string>careerboast-f47b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091019658935:ios:24fe1a0baa96adf6a15f32</string>
</dict>
</plist>